// src/styles/variables.scss

// Цвета для светлой темы

// body-bg
$color-body-bg-light: #f4f4f4;

// app-bg
$color-app-bg-light: white;

// text
$color-text-light: #333;

// input
$color-input-bg-ligth:white;
$color-input-text-light: #333;
$color-input-border-ligth: #444;

// span 
$color-span-text-ligth: #333;

// Цвета для тёмной темы

// body-bg
$color-body-bg-dark: #1e1e1e;

// app-bg
$color-app-bg-dark: rgb(79, 79, 79);

// text
$color-text-dark: #fff;

// input
$color-input-bg-dark: #2b2b2b;
$color-input-text-dark: #333;
$color-input-border-dark: #ccc;

// span 
$color-span-text-dark: #fff;

// Прочие стили

// fonts
$font-family-1: Arial, sans-serif;

// btn
$color-btn-text: white;
$color-btn-bg: #28a745;
$color-btn-bg-hover: #218838;