// src/styles/themes.scss

@use './variables' as vars;

body.light {
  // body-bg
  --color-body-bg: #{vars.$color-body-bg-light};

  // app-bg
  --color-app-bg: #{vars.$color-app-bg-light};

  // input
  --color-input-bg: #{vars.$color-app-bg-light};
  --color-input-text: #{vars.$color-input-text-light};
  --color-input-border: #{vars.$color-input-border-ligth};

  // text
  --color-text: #{vars.$color-text-light};

  // span
  --color-span-text: #{vars.$color-span-text-ligth};
}

body.dark {
  // body-bg
  --color-body-bg: #{vars.$color-body-bg-dark};

  // app-bg
  --color-app-bg: #{vars.$color-app-bg-dark};

  // input
  --color-input-bg: #{vars.$color-app-bg-dark};
  --color-input-text: #{vars.$color-input-text-dark};
  --color-input-border: #{vars.$color-input-border-dark};
  
  // text
  --color-text: #{vars.$color-text-dark};

  // span
  --color-span-text: #{vars.$color-span-text-dark};
}