@use './assets/styles/variables' as *;
@use './assets/styles/mixins' as *;

.app {
	width: 100%;
	height: 100vh;
	@include center;

	&__container {
		padding: 30px;
		width: 800px;
		height: 600px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		gap: 30px;
		background-color: var(--color-app-bg);
		border-radius: 30px;

	}
	&__heading {
		font-size: 55px;
		color: var(--color-text);
	}
	&__theme-toggle {
	}
	&__filter{
		width: 100%;
		@include row-start;
		gap: 20px;
	}
}

@media (max-width: 800px) {
	.app {
		padding: 0px 4%;
			
		&__filter{
			width: 100%;
			@include center;
			gap: 20px;
		}

		&__heading {
			font-size: 35px;
			color: var(--color-text);
		}
	}
}

@media (max-width: 415px) {
	.app {
		&__filter{
			gap: 3px;
		}
	}
}

@media (max-width: 380px) {
	.app {
		&__container{
			padding: 30px 10px 10px 10px;
		}
	}
}